<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/main.css">
    <title>Music Db</title>
</head>
<body>
    <nav>
        <ul>
         <li class="navbar-component">
          <a href="/artist/add">Artist</a>
         </li>
         <li class="navbar-component">
           <a href="">Genre</a>
         </li>
         <li class="navbar-component">
           <a href="">Type</a>
         </li>
         <li class="navbar-component">
            <a href="">Album</a>
         </li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>