<div id="form-section">
  <form id="country-form">
      <div class="form-group">
        <input type="text" name="name" id="name" placeholder="Country">
      </div>
      <div class="form-group">
       <button type="submit">Add country</button>
      </div>
  </form>
</div>
<div id="table-section">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>
</div>